

body {
    font-family: "Lato", sans-serif;
    padding: 5px;
    text-align: center;
}


header h2 {
    font-size: 15px;
    border-bottom: 2px solid #05263a;
    padding: 15px 0 15px 0;
    /* text-align: center; */
}

header h1 {
    font-size: 25px;
    text-align: center;
    padding: 15px 0 15px 0;
}

.btn-primary {
    background-color: #005282;;
    border-color:#05263a;
}
.man {
    width: 300px;
}
.calendar {
    background-color: #71a1be;;
}

.limited_space {
    background-color:  #f58c99;
    color: white!important;
   }
.limited_space > h1 {
    font-size: 30px !important;
    margin: 5px;
}

}

.author {
    background-color: #005282;
}
@media (max-width: 991.98px) { 
    
    
    body > div, section, footer {
        /* margin: 10px; */
        text-align: center;
        /* padding: 15px 0 15px 0; */
    }

    div, section, footer > p, form, button, h1, h2, img {
        /* margin: 0px; */
        text-align: center;
        /* padding: 2px; */
        padding: 15px 0 15px 0;
    }

    .row {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }

    
 }

 @media (max-width: 1500px) {
     * {
         margin: 10px;
     }

     .show_you {
         max-width: 50%;
     }
 }