

body {
    font-family: "Lato", sans-serif;
    text-align: center;
}

.container {
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.btn {
    padding-left: 75px;
    padding-right: 75px;
}


header h2 {
    font-size: 20px;
    border-bottom: 2px solid #05263a;
    padding: 15px 0 25px 0;
    /* text-align: center; */
}

header h1 {
    font-size: 25px;
    text-align: center;
    padding: 15px 0 15px 0;
}

.btn-primary {
    background-color: #005282;;
    border-color:#05263a;
}
.man {
    width: 300px;
}
.calendar {
    background-color: #71a1be;
    color: white;
}

#time_left {
    color: darkred;
    font-weight: bold;
    font-size: 50px;
}

.limited_space {
    background-color:  #f58c99;
    color: white!important;
   }
.limited_space > h1 {
    font-size: 30px !important;
    margin: 5px;
}

.author {
    background-color: #005282;
    padding-top: 15px;
    color: white;
}

@media (max-width: 991.98px) { 
    
    .container {
        margin-right: 0px!important;
        margin-left: 0px!important;
    }

    .quote {
        padding: 10px;
    }

    .quote h1 {
        font-weight: bold;
    }

    .author {
        background-color: #005282;
        min-width: 100%;
        padding-top: 15px;
        color: white;
    }

    .checkmark > img {
        /* width: 100px; */
        height: 96px;

    }
    .checkmark > p {
        width: 300px;
        text-align: left;
        padding-top: 15px;
        padding-left: 15px;
    }
    .checkmark {
        display: flex;
        flex-wrap: nowrap;
        height: 150px;
        padding-left: 15px;
    }
    
    .claim_space {
        background-color: #05263a;
        color: white;
        width: 100%;
    }

    #triangle {
        z-index: -100;
        margin-top; -4px;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 50px solid #05263a;
        }
    
    
    body > div, section, footer {
        /* margin: 10px; */
        text-align: center;
        /* padding: 15px 0 15px 0; */
    }

    div, footer > p, form, button, h1, h2, img {
        /* margin: 0px; */
        text-align: center;
        /* padding: 2px; */
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .row {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }

    .show_you {
        width: 100%;
    }

    .show_you > h2 {
        font-size: 20px;
    }
 }

  @media (max-width: 1500px) and (min-width: 992px) {

    .wrapper {
        max-width: 1200px;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .claim_space {
        background-color: #05263a;
        color: white;
        width: 100%;
    }

    .desktop_calendar {
        display: flex;
        flex-wrap: nowrap;
        background-color: white !important;
        justify-content: center;
    }

    .calendar {
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
        padding-top: 20px;
    }

    #time_left {
        padding-top: 65px;
        font-size: 60px;
    }

    .quote {
        width: 75%;
    }

    .btn-lg {
        height: 70px;
        margin-top: 2%;
    }

    .author {
        background-color: #05263a;
    }
    .author > img {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .checkmark {
        display: flex;
        flex-wrap: nowrap;
        float:left;
        max-height: 120px;
    }

    .checkmark  > img {
        max-height: 70px;
    }
    
    .checkmark > p {
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
    }

    .show_you {
        background-color: lightgray!important;
        /* margin-right: 10px;
        margin-left: 10px; */
        display: flex;
        flex-wrap: wrap;

    }
    .author_show {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding-top: 20px;
    }

    .show_you > h2 {
        font-size: 20px !important;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .limited_space .claim_space {
        font-size: 20px;

    }

    .newsletter {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .reserve {
        padding-top: 2%;
        padding-bottom: 2%;
    }
     
 }